/* Reseta os estilos e configurações principais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('irs background.jpg') center/cover no-repeat;
    color: white;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px; /* Espaço para o rodapé */
}

/* Barra de Navegação */
.navbar {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos da Logo e Menu */
.logo {
    font-size: 35px;
    color: #89cff0;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s;
}

.search {
    margin-left: auto;
}

.srch {
    width: 220px;
    height: 40px;
    border: 1px solid #89cff0;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background: transparent;
    color: white;
}

/* Botão */
.btn {
    height: 40px;
    background: #89cff0;
    border: none;
    color: white;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Seção de Conteúdo */
.content {
    text-align: center;
    padding-top: 100px; /* Aumentado para melhor posicionamento */
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Barra de Login */
.form {
    width: 250px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 35%; /* Ajustado para ficar mais para cima */
    right: 5%;
    color: white;
    transform: translateY(-50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Rodapé */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px 0;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Informações do Rodapé e Redes Sociais */
.footer-info {
    max-width: 70%;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.social-icon {
    width: 16px; /* Imagens de ícones menores */
    height: 16px;
    margin-right: 8px;
}

.social-link {
    color: #89cff0;
    text-decoration: none;
    font-size: 14px;
}

.social-link:hover {
    color: white;
}
